.rating-div {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.results {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.result-question {
  display: flex;
}

.result-answer {
  display: flex;
  font-weight: bold;
  padding-left: 1em;
}

.final-rating {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1em;
  font-size: larger;
}